# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
THUMB_IMAGE = "https://raw.githubusercontent.com/TRIBALCHIEFBOT/Brandimages/main/logos/SocialLogo%201.png"
port = 5000
email = "gerboo676@gmail.com"
global_url = "github.com"
OWNER_NAME = "gerboo"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 212
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= TRIBALCHIEF
WORKTYPE = public
PACK_INFO = "gerboo;multidevice"
ANTILINK_VALUES = "https://,chat.whatsapp.com"